---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-crtp-constructor-accessibility,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-include,
  -bugprone-chained-comparison,
  clang-analyzer-core.*,
  -clang-analyzer-core.uninitialized.Assign,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-nullability.*,
  clang-analyzer-optin.cplusplus.*,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  clang-analyzer-optin.performance.*,
  clang-analyzer-optin.portability.*,
  clang-analyzer-security.*,
  clang-analyzer-unix.*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-reference-coroutine-parameters,
  -cppcoreguidelines-avoid-capturing-lambda-coroutines,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-type-vararg,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-ifelse-braces,
  -readability-magic-numbers,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-simplify-boolean-expr,
  -readability-use-concise-preprocessor-directives,
  -readability-redundant-parentheses
WarningsAsErrors: "*"
UseColor: true
HeaderFilterRegex: '.*/coroutine-demo/src/.*'
FormatStyle:     none
CheckOptions:
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '60'
  - key:             readability-function-cognitive-complexity.IgnoreMacros
    value:           true
  - key:             bugprone-easily-swappable-parameters.MinimumLength
    value:           '4'
  - key:             bugprone-unused-return-value.AllowCastToVoid
    value:           'true'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           '1'
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           '^(main|begin|end|push_back|pop_back|data|str|get|size|length|resize|empty|clear|value|c_str|capacity|to_string|string_view|assign|at|reserve|substr|sv|await_ready|await_suspend|await_resume|initial_suspend|final_suspend|unhandled_exception|return_value|return_void|yield_value|get_return_object|get_return_object_on_allocation_failure|address|operator_new|operator_delete|from_promise)$'
